aiohttp==3.9.0
rasa~=3.6.0
rasa-sdk~=3.6.0
-e git+https://github.com/mammhoud/rasa-nlu-examples.git@37c4d29f379beb26b16bfad582a5736147dfeb14#egg=rasa_nlu_examples
spacy
spacy-curated-transformers
spacy-legacy
spacy-loggers
spacy-stanza
stanza
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
#en_core_web_trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl
#xx-ent-wiki-sm @ https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.7.0/xx_ent_wiki_sm-3.7.0-py3-none-any.whl
